Repository nhnacademy-be10-WannaB/wannab-user-service, pull requests merged in 2025-06, with the labels that each got.

#22 #4/[회원] 일반 로그인 구현 : 로그인이 성공하면 jwt 발급 기능 구현
  pom.xml
  src/main/java/shop/wannab/userservice/http.http
  src/main/java/shop/wannab/userservice/user/controller/AuthController.java
  src/main/java/shop/wannab/userservice/user/domain/dto/UserLoginDTO.java
  src/main/java/shop/wannab/userservice/user/repository/UserRepository.java
  src/main/java/shop/wannab/userservice/user/service/UserService.java
  src/main/java/shop/wannab/userservice/user/service/UserServiceImpl.java
  src/main/java/shop/wannab/userservice/util/JwtUtil.java
  src/main/java/shop/wannab/userservice/util/Util.java
Labels: Feature

#39 #38/[회원] 로그인 기능 Security를 사용하도록 리팩토링
  http/request.http
  src/main/java/shop/wannab/userservice/auth/controller/request/LoginRequest.java
  src/main/java/shop/wannab/userservice/auth/controller/response/LoginResponse.java
  src/main/java/shop/wannab/userservice/auth/domain/CustomUserDetails.java
  src/main/java/shop/wannab/userservice/auth/filter/JwtLoginFilter.java
  src/main/java/shop/wannab/userservice/auth/service/CustomUserDetailsService.java
  src/main/java/shop/wannab/userservice/config/SecurityConfig.java
  src/main/java/shop/wannab/userservice/global/advice/GlobalExceptionHandler.java
  src/main/java/shop/wannab/userservice/global/config/PasswordEncoderConfig.java
  src/main/java/shop/wannab/userservice/global/config/RedisConfig.java
  src/main/java/shop/wannab/userservice/global/config/SecurityConfig.java
  src/main/java/shop/wannab/userservice/user/controller/AuthController.java
  src/main/java/shop/wannab/userservice/user/domain/entity/User.java
  src/main/java/shop/wannab/userservice/user/repository/UserRepository.java
  src/main/java/shop/wannab/userservice/user/service/UserServiceImpl.java
  src/main/java/shop/wannab/userservice/utils/JwtUtil.java
Labels: User Service, Refactor

#41 refactor: 매개변수 수정, api 경로 수정
  http/request.http
  pom.xml
  src/main/java/shop/wannab/userservice/address/controller/UserAddressController.java
  src/main/java/shop/wannab/userservice/global/advice/GlobalExceptionHandler.java
  src/main/java/shop/wannab/userservice/point/controller/PointController.java
  src/main/java/shop/wannab/userservice/point/domain/dto/PointPolicyCreateRequest.java
  src/main/java/shop/wannab/userservice/point/domain/dto/PointPolicyUpdateDTO.java
  src/main/java/shop/wannab/userservice/point/domain/entity/PointPolicy.java
  src/main/java/shop/wannab/userservice/point/exception/AccessDeniedException.java
  src/main/java/shop/wannab/userservice/point/exception/PointPolicyAlreadyExistsException.java
  src/main/java/shop/wannab/userservice/point/repository/PointPolicyRepository.java
  src/main/java/shop/wannab/userservice/point/service/PointPolicyService.java
  src/main/java/shop/wannab/userservice/point/service/PointPolicyServiceImpl.java
  src/main/java/shop/wannab/userservice/user/controller/UserController.java
  src/main/java/shop/wannab/userservice/user/domain/dto/CommonResponse.java
  src/main/java/shop/wannab/userservice/user/domain/dto/UserCreateDTO.java
  src/main/java/shop/wannab/userservice/user/domain/dto/request/UserCreateRequest.java
  src/main/java/shop/wannab/userservice/user/domain/dto/request/UserUpdateRequest.java
  src/main/java/shop/wannab/userservice/user/domain/dto/response/UserPageResponse.java
  src/main/java/shop/wannab/userservice/user/exception/UserIdMismatchException.java
  src/main/java/shop/wannab/userservice/user/service/UserService.java
  src/main/java/shop/wannab/userservice/user/service/UserServiceImpl.java
  src/main/java/shop/wannab/userservice/utils/Util.java
Labels: Feature, User Service

#46 fix: Dockerfile 타겟 jar 파일 수정
  Dockerfile
Labels: CI / CD, Fix

#51 fix: 디버그용 로그 추가
  src/main/java/shop/wannab/userservice/auth/filter/JwtLoginFilter.java
  src/main/java/shop/wannab/userservice/global/config/SecurityConfig.java
Labels: Fix, User Service
